body {
  background-image: url("./_images/background-kitchen.jpg");
  min-width: 600px;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: round;
  font-family: Helvetica, sans-serif;
}
